// Default Font Family
$heading-font:        'Silka', serif !default;
$body-font:           'Silka', serif !default;

// Font Sizes
$size-1:              4.5rem !default;
$size-2:              3.0rem !default;
$size-3:              2.5rem !default;
$size-4:              2.0rem !default;
$size-5:              1.5rem !default;
$size-6:              1.25rem !default;
$size-7:              1.0rem !default;

$small:               0.8rem;

// Font Weights
$weight-thin:         100 !default;
$weight-xlight:       200 !default;
$weight-light:        300 !default;
$weight-regular:      400 !default;
$weight-medium:       500 !default;
$weight-semibold:     600 !default;
$weight-bold:         700 !default;
$weight-black:        800 !default;
$weight-heavy:        800 !default;

// Links
$link:                $primary !default;
$link-visited:        $primary !default;

$link-hover:          $grey !default;
$link-hover-border:   $grey !default;

$link-active:         $dark !default;
$link-active-border:  $dark !default;

$text-color:          $dark-light;
$text-light:          $grey;

// Headings
h1, h2, h3, h4, h5, h6 {
  color: $dark;
  margin: 0;
  padding:0;
  font-family: $heading-font;
  text-transform: lowercase;
  line-height: 1.1;
}
h1, h2, h1 a, h2 a {
  font-weight: $weight-bold;
}

h1 {
  font-size: $size-1;
}

h2 {
  font-size: $size-2;
  color: $primary;
}

h3 {
  font-size: $size-3;
  font-weight: $weight-medium;
}

h4 {
  font-size: $size-4;
  font-style: italic;
  font-weight: $weight-medium;
}
h5 {
  font-size: $size-5;
  font-weight: $weight-regular;
}
h6 {
  font-size: $size-6;
  font-style: italic;
  font-weight: $weight-regular;
  color: $primary;
}

.bold {
  font-weight: $weight-bold;
}
.semi-bold {
  font-weight: $weight-semibold;
}

.italic {
  font-style: italic;
}
.highlight {
  color: $primary;
}
.highlight-dark {
  color: $dark;
}
.highlight-white {
  color: $white;
}
.red {
  background: $primary;
}
.dark {
  background: $dark;
}
.white {
  background: $white;
}
.center {
  text-align: center;
}