@font-face {
  font-family: "Silka";
  src: url("http://karmic.site/wp-content/themes/karmic/assets/fonts/Silka-Thin.eot");
  src: url("http://karmic.site/wp-content/themes/karmic/assets/fonts/Silka-Thin.eot?#iefix") format("embedded-opentype"),
    url("http://karmic.site/wp-content/themes/karmic/assets/fonts/Silka-Thin.woff2") format("woff2"), url("http://karmic.site/wp-content/themes/karmic/assets/fonts/Silka-Thin.woff") format("woff"),
    url("http://karmic.site/wp-content/themes/karmic/assets/fonts/Silka-Thin.ttf") format("truetype"), url("http://karmic.site/wp-content/themes/karmic/assets/fonts/Silka-Thin.svg#Silka-Thin") format("svg");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Silka";
  src: url("http://karmic.site/wp-content/themes/karmic/assets/fonts/Silka-ThinItalic.eot");
  src: url("http://karmic.site/wp-content/themes/karmic/assets/fonts/Silka-ThinItalic.eot?#iefix") format("embedded-opentype"),
    url("http://karmic.site/wp-content/themes/karmic/assets/fonts/Silka-ThinItalic.woff2") format("woff2"),
    url("http://karmic.site/wp-content/themes/karmic/assets/fonts/Silka-ThinItalic.woff") format("woff"),
    url("http://karmic.site/wp-content/themes/karmic/assets/fonts/Silka-ThinItalic.ttf") format("truetype"),
    url("http://karmic.site/wp-content/themes/karmic/assets/fonts/Silka-ThinItalic.svg#Silka-ThinItalic") format("svg");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Silka";
  src: url("http://karmic.site/wp-content/themes/karmic/assets/fonts/Silka-ExtraLight.eot");
  src: url("http://karmic.site/wp-content/themes/karmic/assets/fonts/Silka-ExtraLight.eot?#iefix") format("embedded-opentype"),
    url("http://karmic.site/wp-content/themes/karmic/assets/fonts/Silka-ExtraLight.woff2") format("woff2"),
    url("http://karmic.site/wp-content/themes/karmic/assets/fonts/Silka-ExtraLight.woff") format("woff"),
    url("http://karmic.site/wp-content/themes/karmic/assets/fonts/Silka-ExtraLight.ttf") format("truetype"),
    url("http://karmic.site/wp-content/themes/karmic/assets/fonts/Silka-ExtraLight.svg#Silka-ExtraLight") format("svg");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Silka";
  src: url("http://karmic.site/wp-content/themes/karmic/assets/fonts/Silka-ExtraLightItalic.eot");
  src: url("http://karmic.site/wp-content/themes/karmic/assets/fonts/Silka-ExtraLightItalic.eot?#iefix") format("embedded-opentype"),
    url("http://karmic.site/wp-content/themes/karmic/assets/fonts/Silka-ExtraLightItalic.woff2") format("woff2"),
    url("http://karmic.site/wp-content/themes/karmic/assets/fonts/Silka-ExtraLightItalic.woff") format("woff"),
    url("http://karmic.site/wp-content/themes/karmic/assets/fonts/Silka-ExtraLightItalic.ttf") format("truetype"),
    url("http://karmic.site/wp-content/themes/karmic/assets/fonts/Silka-ExtraLightItalic.svg#Silka-ExtraLightItalic") format("svg");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Silka";
  src: url("http://karmic.site/wp-content/themes/karmic/assets/fonts/Silka-Light.eot");
  src: url("http://karmic.site/wp-content/themes/karmic/assets/fonts/Silka-Light.eot?#iefix") format("embedded-opentype"),
    url("http://karmic.site/wp-content/themes/karmic/assets/fonts/Silka-Light.woff2") format("woff2"), url("http://karmic.site/wp-content/themes/karmic/assets/fonts/Silka-Light.woff") format("woff"),
    url("http://karmic.site/wp-content/themes/karmic/assets/fonts/Silka-Light.ttf") format("truetype"),
    url("http://karmic.site/wp-content/themes/karmic/assets/fonts/Silka-Light.svg#Silka-Light") format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Silka";
  src: url("http://karmic.site/wp-content/themes/karmic/assets/fonts/Silka-LightItalic.eot");
  src: url("http://karmic.site/wp-content/themes/karmic/assets/fonts/Silka-LightItalic.eot?#iefix") format("embedded-opentype"),
    url("http://karmic.site/wp-content/themes/karmic/assets/fonts/Silka-LightItalic.woff2") format("woff2"),
    url("http://karmic.site/wp-content/themes/karmic/assets/fonts/Silka-LightItalic.woff") format("woff"),
    url("http://karmic.site/wp-content/themes/karmic/assets/fonts/Silka-LightItalic.ttf") format("truetype"),
    url("http://karmic.site/wp-content/themes/karmic/assets/fonts/Silka-LightItalic.svg#Silka-LightItalic") format("svg");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Silka";
  src: url("http://karmic.site/wp-content/themes/karmic/assets/fonts/Silka-Regular.eot");
  src: url("http://karmic.site/wp-content/themes/karmic/assets/fonts/Silka-Regular.eot?#iefix") format("embedded-opentype"),
    url("http://karmic.site/wp-content/themes/karmic/assets/fonts/Silka-Regular.woff2") format("woff2"), url("http://karmic.site/wp-content/themes/karmic/assets/fonts/Silka-Regular.woff") format("woff"),
    url("http://karmic.site/wp-content/themes/karmic/assets/fonts/Silka-Regular.ttf") format("truetype"),
    url("http://karmic.site/wp-content/themes/karmic/assets/fonts/Silka-Regular.svg#Silka-Regular") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Silka";
  src: url("http://karmic.site/wp-content/themes/karmic/assets/fonts/Silka-RegularItalic.eot");
  src: url("http://karmic.site/wp-content/themes/karmic/assets/fonts/Silka-RegularItalic.eot?#iefix") format("embedded-opentype"),
    url("http://karmic.site/wp-content/themes/karmic/assets/fonts/Silka-RegularItalic.woff2") format("woff2"),
    url("http://karmic.site/wp-content/themes/karmic/assets/fonts/Silka-RegularItalic.woff") format("woff"),
    url("http://karmic.site/wp-content/themes/karmic/assets/fonts/Silka-RegularItalic.ttf") format("truetype"),
    url("http://karmic.site/wp-content/themes/karmic/assets/fonts/Silka-RegularItalic.svg#Silka-RegularItalic") format("svg");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Silka";
  src: url("http://karmic.site/wp-content/themes/karmic/assets/fonts/Silka-Medium.eot");
  src: url("http://karmic.site/wp-content/themes/karmic/assets/fonts/Silka-Medium.eot?#iefix") format("embedded-opentype"),
    url("http://karmic.site/wp-content/themes/karmic/assets/fonts/Silka-Medium.woff2") format("woff2"), url("http://karmic.site/wp-content/themes/karmic/assets/fonts/Silka-Medium.woff") format("woff"),
    url("http://karmic.site/wp-content/themes/karmic/assets/fonts/Silka-Medium.ttf") format("truetype"),
    url("http://karmic.site/wp-content/themes/karmic/assets/fonts/Silka-Medium.svg#Silka-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Silka";
  src: url("http://karmic.site/wp-content/themes/karmic/assets/fonts/Silka-MediumItalic.eot");
  src: url("http://karmic.site/wp-content/themes/karmic/assets/fonts/Silka-MediumItalic.eot?#iefix") format("embedded-opentype"),
    url("http://karmic.site/wp-content/themes/karmic/assets/fonts/Silka-MediumItalic.woff2") format("woff2"),
    url("http://karmic.site/wp-content/themes/karmic/assets/fonts/Silka-MediumItalic.woff") format("woff"),
    url("http://karmic.site/wp-content/themes/karmic/assets/fonts/Silka-MediumItalic.ttf") format("truetype"),
    url("http://karmic.site/wp-content/themes/karmic/assets/fonts/Silka-MediumItalic.svg#Silka-MediumItalic") format("svg");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Silka";
  src: url("http://karmic.site/wp-content/themes/karmic/assets/fonts/Silka-SemiBold.eot");
  src: url("http://karmic.site/wp-content/themes/karmic/assets/fonts/Silka-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("http://karmic.site/wp-content/themes/karmic/assets/fonts/Silka-SemiBold.woff2") format("woff2"), url("http://karmic.site/wp-content/themes/karmic/assets/fonts/Silka-SemiBold.woff") format("woff"),
    url("http://karmic.site/wp-content/themes/karmic/assets/fonts/Silka-SemiBold.ttf") format("truetype"),
    url("http://karmic.site/wp-content/themes/karmic/assets/fonts/Silka-SemiBold.svg#Silka-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Silka";
  src: url("http://karmic.site/wp-content/themes/karmic/assets/fonts/Silka-SemiBoldItalic.eot");
  src: url("http://karmic.site/wp-content/themes/karmic/assets/fonts/Silka-SemiBoldItalic.eot?#iefix") format("embedded-opentype"),
    url("http://karmic.site/wp-content/themes/karmic/assets/fonts/Silka-SemiBoldItalic.woff2") format("woff2"),
    url("http://karmic.site/wp-content/themes/karmic/assets/fonts/Silka-SemiBoldItalic.woff") format("woff"),
    url("http://karmic.site/wp-content/themes/karmic/assets/fonts/Silka-SemiBoldItalic.ttf") format("truetype"),
    url("http://karmic.site/wp-content/themes/karmic/assets/fonts/Silka-SemiBoldItalic.svg#Silka-SemiBoldItalic") format("svg");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Silka";
  src: url("http://karmic.site/wp-content/themes/karmic/assets/fonts/Silka-Bold.eot");
  src: url("http://karmic.site/wp-content/themes/karmic/assets/fonts/Silka-Bold.eot?#iefix") format("embedded-opentype"),
    url("http://karmic.site/wp-content/themes/karmic/assets/fonts/Silka-Bold.woff2") format("woff2"), url("http://karmic.site/wp-content/themes/karmic/assets/fonts/Silka-Bold.woff") format("woff"),
    url("http://karmic.site/wp-content/themes/karmic/assets/fonts/Silka-Bold.ttf") format("truetype"), url("http://karmic.site/wp-content/themes/karmic/assets/fonts/Silka-Bold.svg#Silka-Bold") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Silka";
  src: url("http://karmic.site/wp-content/themes/karmic/assets/fonts/Silka-BoldItalic.eot");
  src: url("http://karmic.site/wp-content/themes/karmic/assets/fonts/Silka-BoldItalic.eot?#iefix") format("embedded-opentype"),
    url("http://karmic.site/wp-content/themes/karmic/assets/fonts/Silka-BoldItalic.woff2") format("woff2"),
    url("http://karmic.site/wp-content/themes/karmic/assets/fonts/Silka-BoldItalic.woff") format("woff"),
    url("http://karmic.site/wp-content/themes/karmic/assets/fonts/Silka-BoldItalic.ttf") format("truetype"),
    url("http://karmic.site/wp-content/themes/karmic/assets/fonts/Silka-BoldItalic.svg#Silka-BoldItalic") format("svg");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Silka";
  src: url("http://karmic.site/wp-content/themes/karmic/assets/fonts/Silka-Black.eot");
  src: url("http://karmic.site/wp-content/themes/karmic/assets/fonts/Silka-Black.eot?#iefix") format("embedded-opentype"),
    url("http://karmic.site/wp-content/themes/karmic/assets/fonts/Silka-Black.woff2") format("woff2"), url("http://karmic.site/wp-content/themes/karmic/assets/fonts/Silka-Black.woff") format("woff"),
    url("http://karmic.site/wp-content/themes/karmic/assets/fonts/Silka-Black.ttf") format("truetype"),
    url("http://karmic.site/wp-content/themes/karmic/assets/fonts/Silka-Black.svg#Silka-Black") format("svg");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Silka";
  src: url("http://karmic.site/wp-content/themes/karmic/assets/fonts/Silka-BlackItalic.eot");
  src: url("http://karmic.site/wp-content/themes/karmic/assets/fonts/Silka-BlackItalic.eot?#iefix") format("embedded-opentype"),
    url("http://karmic.site/wp-content/themes/karmic/assets/fonts/Silka-BlackItalic.woff2") format("woff2"),
    url("http://karmic.site/wp-content/themes/karmic/assets/fonts/Silka-BlackItalic.woff") format("woff"),
    url("http://karmic.site/wp-content/themes/karmic/assets/fonts/Silka-BlackItalic.ttf") format("truetype"),
    url("http://karmic.site/wp-content/themes/karmic/assets/fonts/Silka-BlackItalic.svg#Silka-BlackItalic") format("svg");
  font-weight: 800;
  font-style: italic;
}
