$card-color: $white;

main {
  margin: 0;
  section.hero {
    margin: 2em;
    height: 80vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    .hero-content {
      margin-bottom: 2em;
      @include breakpoint("h-mobile") {
        flex-basis: 40%;
      }
      @include breakpoint("tablet")  {
        flex-basis: 45%;
        margin: 0;
      }
      .hero-title {
        font-size: $size-5;
        @include breakpoint("tablet") {
          font-size: $size-2;
        }
      }
      .hero-subtitle {
        font-size: 1.25rem;
        line-height: 1.2;
        @include breakpoint("tablet") {
          font-size: $size-6;
        }
        @include breakpoint("desktop") {
          font-size: $size-5;
        }
      }
    }
    .hero-img {
      @include breakpoint("h-mobile") {
        flex-basis: 60%;
      }
      @include breakpoint("tablet") {
        flex-basis: 55%;
      }
      img {
        width: 100%;
        height: auto;
        padding:1em;
      }
    }
    @include breakpoint("h-mobile") {
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      margin: 1em 2em;
    }
  }
  section.about {
    padding: 5em 2em;
    background: $dark;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    @include breakpoint( 'tablet' ) {
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: flex-start;
    }
    .about-title {
      margin-bottom: 2em;
      @include breakpoint( 'tablet' ) {
        margin: 0;
      }
    }
    .about-title h2 {
      font-size: $size-4;
      color: $white;
    }
    .about-subtitle p {
      color: $white;
      @include breakpoint( 'tablet' ) {
        padding-left: 2em;
      }
    }
  }
  section.services {
    margin: 0 2em;
    display: flex;
    flex-direction: column;
    .services-content {
      flex-basis: 35%;
    }
    .services-grid {
      flex-basis: 65%;
      align-self: flex-end;
      .cards {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
        .card {
          margin: 0.5em;
          padding: 1em;
          border-radius: $radius-small;
          flex-basis: 256px;
          .icon svg {
            color: $card-color;
            margin-bottom: 1em;
          }
          .card-title {
            color: $card-color;
            font-size: $size-6;
            text-transform: capitalize;
            padding-bottom: 1em;
          }
          .card-subtitle {
            color: $card-color;
            font-size: $size-7;
          }
        }
      }
    }
    @include breakpoint( 'tablet' ) {
      flex-flow: row nowrap;
      align-items: flex-start;
      justify-content:space-between;
    }
  }
}
