/**
 * This is your main.scss file. Import all other scss files here.  
 * 
 * @package karmic
 * @version 1.0.0
 */

@import 'abstracts/normalize';
@import 'abstracts/variables';
@import 'abstracts/fonts';
@import 'abstracts/mixins';
@import 'abstracts/animations';

@import 'base/typography';
@import 'base/generic';



@import 'layout/navigation';
@import 'layout/front-page';
@import 'layout/footer';
@import 'layout/page';

@import 'components/buttons';
@import 'components/forms';

